# Documentation: http://docs.travis-ci.com/user/languages/julia/
language: julia
os:
  - linux
  - osx
dist: trusty
julia:
  - 0.6
  - nightly
matrix:
 allow_failures:
 - julia: nightly
notifications:
  email: false
